5c803d74a2c65966/flows.json
[{"id":"7022a3b8a63f07f1","type":"subflow","name":"House state V2","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"ddbdc488218d5467"},{"id":"2d5f807b019c6f09"}]}],"out":[{"x":1500,"y":180,"wires":[{"id":"80d8f41956152790","port":0}]},{"x":1490,"y":240,"wires":[{"id":"80d8f41956152790","port":1}]},{"x":1480,"y":300,"wires":[{"id":"80d8f41956152790","port":2},{"id":"96238a9d0d6b61d1","port":0}]},{"x":1500,"y":360,"wires":[{"id":"80d8f41956152790","port":3}]},{"x":1560,"y":420,"wires":[{"id":"8b6cb96618ce3f5c","port":0}]},{"x":1490,"y":480,"wires":[{"id":"a7063dbd41a7895f","port":0}]}],"env":[{"name":"roomname","type":"str","value":""},{"name":"automode_sensitive","type":"bool","value":"true","ui":{"type":"checkbox"}},{"name":"rate_limit","type":"bool","value":"false","ui":{"type":"checkbox"}},{"name":"debug","type":"bool","value":"false","ui":{"type":"checkbox"}}],"meta":{},"color":"#DDAA99","outputLabels":["daytime","dusk","custom","slumber","always when automode on","always"],"icon":"node-red-contrib-chronos/chronos_state.svg","status":{"x":1460,"y":620,"wires":[{"id":"ddbdc488218d5467","port":0}]}},{"id":"80d8f41956152790","type":"switch","z":"7022a3b8a63f07f1","name":"houseState_v2","property":"houseState","propertyType":"msg","rules":[{"t":"eq","v":"daytime","vt":"str"},{"t":"eq","v":"dusk","vt":"str"},{"t":"eq","v":"custom","vt":"str"},{"t":"eq","v":"slumber","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1300,"y":200,"wires":[[],[],[],[]]},{"id":"ddbdc488218d5467","type":"subflow:dceb4bde60cc2d66","z":"7022a3b8a63f07f1","name":"","env":[{"name":"originalPayload","value":"false","type":"bool"}],"x":590,"y":620,"wires":[[]]},{"id":"be08843801d03fe5","type":"switch","z":"7022a3b8a63f07f1","name":"automode_sensitive","property":"automode_sensitive","propertyType":"env","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":100,"wires":[["80d8f41956152790"],["c34f91a03f552575"]]},{"id":"8b6cb96618ce3f5c","type":"api-current-state","z":"7022a3b8a63f07f1","name":"automode?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"{{payload}}","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1030,"y":220,"wires":[["80d8f41956152790"],[]]},{"id":"c34f91a03f552575","type":"function","z":"7022a3b8a63f07f1","name":"get room automode","func":"/** @format */\n\nconst flowName = env.get(\"NR_FLOW_NAME\");\n// Remove \"F_\" prefix from flowname if it exists\nconst cleanFlowName = flowName.startsWith(\"F_\") ? flowName.substring(2) : flowName;\n\n// Check if the \"roomname\" env variable is set (not null, undefined, or empty string)\nconst rawRoomName = env.get(\"roomname\");\nconst roomname = (rawRoomName && rawRoomName.trim() !== \"\" ? rawRoomName : cleanFlowName).toLowerCase();\nconst debug = env.get(\"debug\");\n\nmsg.originalPayload = msg.payload;\nmsg.payload = `input_boolean.automode_${roomname}`;\n\nif (debug) node.warn(msg);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":220,"wires":[["8b6cb96618ce3f5c","d7c3e8752ed4e9fe"]]},{"id":"77d2b998a1abf5fa","type":"api-current-state","z":"7022a3b8a63f07f1","name":"","server":"98399ad379bd1023","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.housestate_v2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"houseState","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":80,"wires":[["96238a9d0d6b61d1","d7c3e8752ed4e9fe"]]},{"id":"96238a9d0d6b61d1","type":"switch","z":"7022a3b8a63f07f1","name":"manual mode?","property":"houseState","propertyType":"msg","rules":[{"t":"eq","v":"custom","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":60,"wires":[[],["be08843801d03fe5","d7c3e8752ed4e9fe"]]},{"id":"d7c3e8752ed4e9fe","type":"function","z":"7022a3b8a63f07f1","name":"debug","func":"var debug = env.get(\"debug\")\n\nif (debug) node.warn(msg);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":120,"wires":[[]]},{"id":"ecdf109c0eaf159e","type":"delay","z":"7022a3b8a63f07f1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":390,"y":60,"wires":[["a7063dbd41a7895f"]]},{"id":"2d5f807b019c6f09","type":"switch","z":"7022a3b8a63f07f1","name":"","property":"rate_limit","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":100,"wires":[["ecdf109c0eaf159e"],["a7063dbd41a7895f"]]},{"id":"a7063dbd41a7895f","type":"junction","z":"7022a3b8a63f07f1","x":440,"y":160,"wires":[["77d2b998a1abf5fa"]]},{"id":"0570c25add876c68","type":"subflow","name":"room state dark?","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"132e75dfe629cae3"}]}],"out":[{"x":1520,"y":140,"wires":[{"id":"e60bab5053e66cd4","port":0},{"id":"1d785b60f4be7b5f","port":0}]},{"x":1520,"y":100,"wires":[{"id":"11c66cae72abedc9","port":0}]}],"env":[{"name":"roomname","type":"str","value":"","ui":{"label":{"en-US":"roomname (leave blank for flow name)"}}},{"name":"debug","type":"bool","value":"false","ui":{"type":"checkbox"}}],"meta":{},"color":"#DDAA99","status":{"x":580,"y":220,"wires":[{"id":"7adb0fafe16e3664","port":0}]}},{"id":"11c66cae72abedc9","type":"api-current-state","z":"0570c25add876c68","name":"should it be light?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"cur_lux","halt_if_type":"msg","halt_if_compare":"lt","entity_id":"{{light_entity}}","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1050,"y":100,"wires":[[],[]]},{"id":"132e75dfe629cae3","type":"function","z":"0570c25add876c68","name":"setup payload","func":"const cur_lux = msg.payload;\nconst debug = env.get(\"debug\");\nconst roomname = (env.get(\"roomname\") == \"\" ? env.get(\"NR_FLOW_NAME\") : env.get(\"roomname\")).toLowerCase();\n\nmsg = {\n    \"dark_entity\": `input_number.${roomname}_lux_dark`,\n    \"light_entity\": `input_number.${roomname}_lux_light`,\n    \"cur_state_entity\": `input_boolean.dark_${roomname}`,\n    \"cur_lux\": cur_lux\n};\nflow.set(\"flowConstants\",msg);\n\n//office_lux_current\nif (debug) node.warn(`---- step one ---- `);\nif (debug) node.warn(msg);\nif (debug) node.warn(`---- step one ---- `);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":120,"wires":[["682a3b71f3bc78ef"]]},{"id":"682a3b71f3bc78ef","type":"api-current-state","z":"0570c25add876c68","name":"currently dark?","server":"98399ad379bd1023","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{cur_state_entity}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":120,"wires":[["a868a41c66e2559f","7adb0fafe16e3664"]]},{"id":"e60bab5053e66cd4","type":"api-current-state","z":"0570c25add876c68","name":"should it be dark?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"cur_lux","halt_if_type":"msg","halt_if_compare":"gt","entity_id":"{{dark_entity}}","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1050,"y":140,"wires":[[],[]]},{"id":"bfe920af0f4d0512","type":"function","z":"0570c25add876c68","name":"setup payload","func":"const debug = env.get(\"debug\");\nconst flowConstants = flow.get(\"flowConstants\");\n\nmsg = flowConstants;\n\nif (debug) node.warn(`---- step two ---- `);\nif (debug) node.warn(msg);\nif (debug) node.warn(`---- step two ---- `);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":100,"wires":[["11c66cae72abedc9"]]},{"id":"b537217ee4915a38","type":"function","z":"0570c25add876c68","name":"setup payload","func":"const debug = env.get(\"debug\");\nconst flowConstants = flow.get(\"flowConstants\");\n\nmsg = flowConstants;\n\n//office_lux_current\nif (debug) node.warn(`---- step three ---- `);\nif (debug) node.warn(msg);\nif (debug) node.warn(`---- step three ---- `);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":140,"wires":[["e60bab5053e66cd4"]]},{"id":"a868a41c66e2559f","type":"switch","z":"0570c25add876c68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":120,"wires":[["bfe920af0f4d0512"],["b537217ee4915a38"],["e34b377df926253a"]]},{"id":"7adb0fafe16e3664","type":"switch","z":"0570c25add876c68","name":"","property":"debug","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":220,"wires":[[]]},{"id":"e34b377df926253a","type":"junction","z":"0570c25add876c68","x":740,"y":180,"wires":[["1d785b60f4be7b5f"]]},{"id":"1d785b60f4be7b5f","type":"junction","z":"0570c25add876c68","x":1140,"y":180,"wires":[[]]},{"id":"dceb4bde60cc2d66","type":"subflow","name":"date+time for statusnode","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"e09590162cf01e70"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"e09590162cf01e70","port":0}]}],"env":[{"name":"originalPayload","type":"bool","value":"true","ui":{"label":{"en-US":"include original payload in text?"},"type":"input","opts":{"types":["bool","env"]}}}],"meta":{},"color":"#DDAA99"},{"id":"e09590162cf01e70","type":"function","z":"dceb4bde60cc2d66","name":"return date + time as msg","func":"var current = new Date();\nvar hours = current.getHours();\nvar minutes = current.getMinutes();\nvar seconds = current.getSeconds();\nconst originalPayload = env.get(\"originalPayload\");\n\nif (minutes < 10) minutes = \"0\" + minutes;\nif (seconds < 10) seconds = \"0\" + seconds;\n\nmsg.payload = `${hours}:${minutes}:${seconds}${originalPayload ? \"; \"+msg.payload : ''}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[[]]},{"id":"0391067a18d38b0c","type":"subflow","name":"Setup accessory payload","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"4bb1cfbf49f8e0a5"}]}],"out":[{"x":580,"y":100,"wires":[{"id":"4bb1cfbf49f8e0a5","port":0}]}],"env":[{"name":"On","type":"bool","value":"true","ui":{"type":"checkbox"}},{"name":"transitionEnabled","type":"bool","value":"true","ui":{"label":{"en-US":"Transition"},"type":"checkbox"}},{"name":"Brightness","type":"num","value":"0","ui":{"label":{"en-US":"Brightness 1..100"},"type":"input","opts":{"types":["num"]}}},{"name":"colorTemp","type":"num","value":"0","ui":{"label":{"en-US":"Color_temp (K)"},"type":"input","opts":{"types":["str","num","bool","json","bin","env","conf-types"]}}},{"name":"Include","type":"bool","value":"false","ui":{"label":{"en-US":"Include original payload"},"type":"checkbox"}},{"name":"Debug","type":"bool","value":"false","ui":{"type":"checkbox"}}],"meta":{},"color":"#DDAA99","status":{"x":820,"y":40,"wires":[{"id":"cb9d64eb9361662b","port":0}]}},{"id":"4bb1cfbf49f8e0a5","type":"function","z":"0391067a18d38b0c","name":"Setup accessory payload","func":"const includeOriginal = env.get(\"Include\");\nconst brightness = Number((env.get(\"Brightness\")));\nconst colorTemp = Number((env.get(\"colorTemp\")));\nconst transitionEnabled = env.get(\"transitionEnabled\");\nconst debug = env.get(\"Debug\");\nconst state = env.get(\"On\");\n\nconst config = global.get(\"config\");\nconst transition = config.transition;\n\nlet newPayload = {};\n\nnewPayload = \n{\n\"payload\":\n    {\n        \"data\":\n        {\n            \"brightness_pct\": brightness,\n            \"transition\": transition,\n            \"kelvin\": colorTemp\n        }\n    },\n\"action\": state ? \"turn_on\" : \"turn_off\"\n};\n\nif (brightness === 0) delete newPayload.payload.data.brightness_pct;\nif (colorTemp === 0) delete newPayload.payload.data.kelvin;\n\nif (!transitionEnabled) delete newPayload.payload.data.transition;\n\nif (debug) node.warn(newPayload);\n\nmsg = includeOriginal ? {...msg, ...newPayload} : newPayload;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["cb9d64eb9361662b"]]},{"id":"cb9d64eb9361662b","type":"subflow:dceb4bde60cc2d66","z":"0391067a18d38b0c","name":"","env":[{"name":"originalPayload","value":"false","type":"bool"}],"x":650,"y":40,"wires":[[]]},{"id":"5c803d74a2c65966","type":"tab","label":"F_livingRoom","disabled":false,"info":"","env":[]},{"id":"e573e5b5f39ba163","type":"group","z":"5c803d74a2c65966","name":"core attributes","style":{"label":true},"nodes":["95aea85542f49a68","41523c21ef42709f","6c31557d61cd94db","880e3492041f1e4a","ed5ca4624e0b85dc","6da3c489221f22b8","5387177964ec5179","a01c08b0603ce837"],"x":94,"y":59,"w":472,"h":262},{"id":"28ec4a7e4527ad98","type":"group","z":"5c803d74a2c65966","name":"cover automode control","style":{"label":true},"nodes":["0f731c8dba40879b","a2d83f6291d4fed5","8f653249572b4b62","99eef54d99aaa1e8"],"x":74,"y":2351.5,"w":1232,"h":97},{"id":"4ba1892a52234a5b","type":"junction","z":"5c803d74a2c65966","x":1097,"y":1199.7142857313156,"wires":[["f95417e5a36d4e20"]]},{"id":"18896826609ca8af","type":"junction","z":"5c803d74a2c65966","x":918,"y":1162.7142857313156,"wires":[["637d502ff6c27ebd"]]},{"id":"637d502ff6c27ebd","type":"junction","z":"5c803d74a2c65966","x":1157,"y":1159.7142857313156,"wires":[["6d011a1e5fb5bb60"]]},{"id":"f95417e5a36d4e20","type":"junction","z":"5c803d74a2c65966","x":1277,"y":1199.7142857313156,"wires":[["99d88de890b87069"]]},{"id":"0fa3a664001fa7e0","type":"junction","z":"5c803d74a2c65966","x":917,"y":979.7142857313156,"wires":[["470b76db4ae80239","dc94b50e8e09e647"]]},{"id":"626a256b66e1ad19","type":"junction","z":"5c803d74a2c65966","x":1237,"y":659.7142857313156,"wires":[["e335017cc718ce29","470b76db4ae80239","dc94b50e8e09e647"]]},{"id":"ce100d6ec8f9dbc5","type":"junction","z":"5c803d74a2c65966","x":1037,"y":739.7142857313156,"wires":[["2efa725a7de6ccf3","62f08bd8aec25177","18d530993953bb4b"]]},{"id":"4b41ed8c266afe1e","type":"junction","z":"5c803d74a2c65966","x":957,"y":819.7142857313156,"wires":[["626a256b66e1ad19","b0a6944c4fc4dd70","dc94b50e8e09e647","e8e1d7a1b65ff239"]]},{"id":"1e1bb4ca67ca117a","type":"junction","z":"5c803d74a2c65966","x":960,"y":780,"wires":[["ce100d6ec8f9dbc5","5c30735b6cdc88e0"]]},{"id":"7645455b62079fa6","type":"junction","z":"5c803d74a2c65966","x":1340,"y":860,"wires":[["8dbdcdc96a6ebbff"]]},{"id":"8dbdcdc96a6ebbff","type":"junction","z":"5c803d74a2c65966","x":1680,"y":860,"wires":[["4cd43842596fd29b"]]},{"id":"4020d15d3f98b95b","type":"subflow:0391067a18d38b0c","z":"5c803d74a2c65966","name":"B15","env":[{"name":"Brightness","value":"15","type":"num"},{"name":"HA","value":"true","type":"bool"}],"x":967,"y":1039.7142857313156,"wires":[["2efa725a7de6ccf3","18d530993953bb4b"]]},{"id":"67eaf9e0fea45f66","type":"function","z":"5c803d74a2c65966","name":"What happened?","func":"switch (msg.payload)\n{ \n    case \"1_single\":\n        return [msg,null,null,null, null];\n        break;\n    case \"2_single\":\n        return [null, msg, null, null, null];\n        break;\n    case \"3_single\":\n        return [null, null, msg, null, null];\n        break;\n    case \"4_single\":\n        return [null, null, null, msg, null];\n        break;\n    case \"4_hold\":\n        return [null, null, null, null,msg];\n        break;\n}","outputs":5,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":440,"wires":[["9295e1377a67800a"],["71e15718e223ab44"],["9846ba5c13a993ab"],["4ac6f8e0bd858a2a"],["c3c736855bed2539"]],"outputLabels":["good morning","good night","lights","tv",""]},{"id":"64d51a67b2dedc11","type":"zigbee2mqtt-in","z":"5c803d74a2c65966","name":"","server":"51bd6073adc794c8","friendly_name":"KI_BTN_4way (TS0044)","device_id":"0x943469fffeb359f0","state":"action","outputAtStartup":true,"filterChanges":false,"enableMultiple":false,"x":140,"y":440,"wires":[["67eaf9e0fea45f66"]]},{"id":"e335017cc718ce29","type":"api-call-service","z":"5c803d74a2c65966","name":"Dusk lights off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":["e7fbe40dcc99cfb978d37bf09c98843f"],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1457,"y":559.7142857313156,"wires":[[]]},{"id":"470b76db4ae80239","type":"api-call-service","z":"5c803d74a2c65966","name":"evening lights off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":["259d1d84b2484fcc97527021f5d734f8"],"entityId":["light.lr_li_besta_hoch"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1467,"y":639.7142857313156,"wires":[[]]},{"id":"62f08bd8aec25177","type":"api-call-service","z":"5c803d74a2c65966","name":"Switch lights On","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":["f43d415683fb9ac62986e567fc6f64a3"],"entityId":["switch.smart_plug_pwr_christmas_2"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":1457,"y":719.7142857313156,"wires":[[]]},{"id":"4ac6f8e0bd858a2a","type":"api-call-service","z":"5c803d74a2c65966","name":"TV/sound toggle","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.toggle","floorId":[],"areaId":[],"deviceId":["acc41179f6abc5638ec5bceb40a98bc5"],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"toggle","x":1020,"y":480,"wires":[[]]},{"id":"20e16ae1b7899bae","type":"api-call-service","z":"5c803d74a2c65966","name":"Circa off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_lr_dark_lights","switch.adaptive_lighting_lr_dusk_lights"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":639,"y":1157,"wires":[["aa2288d93455ef61"]]},{"id":"85e3e0669bc897dd","type":"api-call-service","z":"5c803d74a2c65966","name":"LR stoel LI","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.lr_stoel_li"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":1120,"wires":[[]]},{"id":"9c23e640985b23d9","type":"api-call-service","z":"5c803d74a2c65966","name":"","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"remote.send_command","floorId":[],"areaId":[],"deviceId":["a639edc9ab7d325b5624ec1966bfdaa4"],"entityId":[],"labelId":[],"data":"{\"device_id\":\"a639edc9ab7d325b5624ec1966bfdaa4\",\"command\":\"KEY_HOME\",\"hold_secs\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"remote","service":"send_command","x":470,"y":1560,"wires":[[]]},{"id":"498186b62057ec5b","type":"api-call-service","z":"5c803d74a2c65966","name":"Christmas indoor 2 on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.christmas_indoor"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":2460,"y":700,"wires":[[]]},{"id":"d0f71cce2fd67536","type":"api-call-service","z":"5c803d74a2c65966","name":"Christmas outdoor on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.christmas_outdoor"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":2380,"y":880,"wires":[[]]},{"id":"065716d87d46b258","type":"api-call-service","z":"5c803d74a2c65966","name":"Christmas indoor 1 on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.all_indoor_lights_lights"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":2460,"y":560,"wires":[[]]},{"id":"e8e1d7a1b65ff239","type":"api-call-service","z":"5c803d74a2c65966","name":"TV/sound off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":["acc41179f6abc5638ec5bceb40a98bc5"],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":1010,"y":620,"wires":[[]]},{"id":"5c17144ae06c6b0e","type":"server-state-changed","z":"5c803d74a2c65966","name":"no occupancy for 120 minutes","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.presence_sensor_fp2_8dd7_presence_sensor_1"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"habool","ifState":"false","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"120","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":580,"wires":[["e8e1d7a1b65ff239"],[]]},{"id":"035ef3c190c59c45","type":"api-call-service","z":"5c803d74a2c65966","name":"Movie","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?MSMOVIE\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":470,"y":1740,"wires":[[]]},{"id":"33bb3bca971ae855","type":"api-call-service","z":"5c803d74a2c65966","name":"Auto","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?MSAUTO\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":470,"y":1700,"wires":[[]]},{"id":"99fd505ea4112b05","type":"api-call-service","z":"5c803d74a2c65966","name":"Game","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?MSGAME\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":470,"y":1620,"wires":[[]]},{"id":"1af16620a19ddad5","type":"server-state-changed","z":"5c803d74a2c65966","name":"AVR Game","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_game"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1620,"wires":[["99fd505ea4112b05"]]},{"id":"49b06451358c07f3","type":"server-state-changed","z":"5c803d74a2c65966","name":"AVR Music","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_music"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1660,"wires":[["f62c014299852d33"]]},{"id":"f62c014299852d33","type":"api-call-service","z":"5c803d74a2c65966","name":"Music","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?MSMUSIC\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":470,"y":1660,"wires":[[]]},{"id":"6276d8491623b0c2","type":"server-state-changed","z":"5c803d74a2c65966","name":"AVR Auto","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_auto"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1700,"wires":[["33bb3bca971ae855"]]},{"id":"6d8a1c74eedf403b","type":"server-state-changed","z":"5c803d74a2c65966","name":"AVR Movie","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_movie"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1740,"wires":[["035ef3c190c59c45"]]},{"id":"de7ce656d5312ae9","type":"server-state-changed","z":"5c803d74a2c65966","name":"Aud: DynEQ","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_audyssey_dyneq"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1820,"wires":[["d598aaa6492e0755"]]},{"id":"10563ac0838f97a9","type":"server-state-changed","z":"5c803d74a2c65966","name":"Aud: MultiEQ","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_audyssey_multieq"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1860,"wires":[["551343d56520186e"]]},{"id":"004dedfc0e5cc491","type":"server-state-changed","z":"5c803d74a2c65966","name":"Aud: Dyn Vol","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_setting_audyssey_dynvol"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1900,"wires":[["e825f718399f3620"]]},{"id":"c4c74c373d4eb06a","type":"api-call-service","z":"5c803d74a2c65966","name":"DynEQ On","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?PSDYNEQ ON\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":770,"y":1780,"wires":[[]]},{"id":"d598aaa6492e0755","type":"function","z":"5c803d74a2c65966","name":"set audyssey","func":"let input_button = msg.topic;\nlet audyssey = flow.get(input_button) ?? false;\naudyssey = !audyssey;\n\nmsg.audyssey = audyssey;\n\nflow.set(input_button,audyssey);\n\nif (audyssey) return [msg,null];\nif (!audyssey) return [null,msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1820,"wires":[["c4c74c373d4eb06a"],["d10699f555800e88"]]},{"id":"d10699f555800e88","type":"api-call-service","z":"5c803d74a2c65966","name":"DynEQ Off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?PSDYNEQ OFF\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":770,"y":1820,"wires":[[]]},{"id":"551343d56520186e","type":"function","z":"5c803d74a2c65966","name":"set audyssey","func":"let input_button = msg.topic;\nlet audyssey = flow.get(input_button) ?? false;\naudyssey = !audyssey;\n\nmsg.audyssey = audyssey;\n\nflow.set(input_button,audyssey);\n\nif (audyssey) return [msg,null];\nif (!audyssey) return [null,msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1860,"wires":[["9239ce3347b29d09"],["9239ce3347b29d09"]]},{"id":"9239ce3347b29d09","type":"api-call-service","z":"5c803d74a2c65966","name":"MultiEQ On","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?AUDYSSEY\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":770,"y":1860,"wires":[[]]},{"id":"e825f718399f3620","type":"function","z":"5c803d74a2c65966","name":"set audyssey","func":"let input_button = msg.topic;\nlet audyssey = flow.get(input_button) ?? false;\naudyssey = !audyssey;\n\nmsg.audyssey = audyssey;\n\nflow.set(input_button,audyssey);\n\nif (audyssey) return [msg,null];\nif (!audyssey) return [null,msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1900,"wires":[["2d452034d5f2bf7b"],["56e338a35e1b3b8b"]]},{"id":"56e338a35e1b3b8b","type":"api-call-service","z":"5c803d74a2c65966","name":"DynVol Off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?PSDYNVOL OFF\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":770,"y":1940,"wires":[[]]},{"id":"2d452034d5f2bf7b","type":"api-call-service","z":"5c803d74a2c65966","name":"DynVol On","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"denonavr.get_command","floorId":[],"areaId":[],"deviceId":["6550d8eefb0dd70be17d43581401efc4"],"entityId":[],"labelId":[],"data":"{\t   \"command\":\"/goform/formiPhoneAppDirect.xml?PSDYNVOL LIT\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"denonavr","service":"get_command","x":770,"y":1900,"wires":[[]]},{"id":"5db8b9e3cf9034ea","type":"api-current-state","z":"5c803d74a2c65966","name":"LR occupancy","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"binary_sensor.presence_sensor_fp2_8dd7_presence_sensor_1","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":797,"y":719.7142857313156,"wires":[["ce100d6ec8f9dbc5"],["db87a36f7fadb4e2"]]},{"id":"c38113dfc8cd2cf2","type":"server-state-changed","z":"5c803d74a2c65966","name":"LR / DI / KI occupancy","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.presence_sensor_fp2_8dd7_presence_sensor_1"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"habool","ifState":"true","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":117,"y":779.7142857313156,"wires":[["cbc1967bb416fa44"],[]]},{"id":"6da3c489221f22b8","type":"subflow:0570c25add876c68","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"dark or light in room?","env":[{"name":"roomname","value":"LR","type":"str"}],"x":220,"y":280,"wires":[["880e3492041f1e4a"],["ed5ca4624e0b85dc"]]},{"id":"41523c21ef42709f","type":"server-state-changed","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"Philips MS lux","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lr_ms_1_illuminance"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":220,"wires":[["6da3c489221f22b8"]]},{"id":"91bbb50f2dab0e9e","type":"api-current-state","z":"5c803d74a2c65966","name":"Dark?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.dark_lr","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":607,"y":739.7142857313156,"wires":[["5db8b9e3cf9034ea"],[]]},{"id":"95aea85542f49a68","type":"link in","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"LR automode on","links":["6cb24a388bf5816e"],"x":135,"y":160,"wires":[["5387177964ec5179"]]},{"id":"9295e1377a67800a","type":"link out","z":"5c803d74a2c65966","name":"good morning","mode":"link","links":["f4b7b55662b7dc51"],"x":1020,"y":360,"wires":[],"l":true},{"id":"71e15718e223ab44","type":"link out","z":"5c803d74a2c65966","name":"good night","mode":"link","links":["e3923380340a8dd6"],"x":1010,"y":400,"wires":[],"l":true},{"id":"9846ba5c13a993ab","type":"api-call-service","z":"5c803d74a2c65966","name":"Toggle Diner Lights","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.diner_lights"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"toggle","x":1030,"y":440,"wires":[["818f8b93ed5889f4"]]},{"id":"91edc602f0fb29b8","type":"api-call-service","z":"5c803d74a2c65966","name":"room automode off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_lr"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":370,"y":1120,"wires":[["20e16ae1b7899bae"]]},{"id":"b812ad53f9d1ea5d","type":"api-call-service","z":"5c803d74a2c65966","name":"room automode on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_lr"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":367,"y":1259.7142857313156,"wires":[[]]},{"id":"e1f319d578c6fd98","type":"api-call-service","z":"5c803d74a2c65966","name":"room automode on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_lr"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":370,"y":1160,"wires":[[]]},{"id":"088fe31c2b932ce4","type":"api-call-service","z":"5c803d74a2c65966","name":"room automode off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_lr"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":367,"y":1199.7142857313156,"wires":[["073cd86a814174ca"]]},{"id":"edc58579988fc3a3","type":"api-call-service","z":"5c803d74a2c65966","name":"TV/sound On ","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":["acc41179f6abc5638ec5bceb40a98bc5"],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":1010,"y":580,"wires":[[]]},{"id":"18d530993953bb4b","type":"api-call-service","z":"5c803d74a2c65966","name":"Diner Lights on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.diner_lights"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1457,"y":799.7142857313156,"wires":[[]]},{"id":"60263d3581665e50","type":"server-state-changed","z":"5c803d74a2c65966","name":"LR dark change","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.dark_lr"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"habool","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":97,"y":819.7142857313156,"wires":[["cbc1967bb416fa44"]]},{"id":"28dce668e4830d74","type":"server-state-changed","z":"5c803d74a2c65966","name":"Samsung home","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.avr_samsung_home"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1560,"wires":[["9c23e640985b23d9"]]},{"id":"4a593f67977160c6","type":"server-state-changed","z":"5c803d74a2c65966","name":"Embroidery","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.scene_embroidery"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"habool","ifState":"true","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1140,"wires":[["91edc602f0fb29b8"],["e1f319d578c6fd98"]]},{"id":"707cbeff0ff09732","type":"server-state-changed","z":"5c803d74a2c65966","name":"Movie","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.scene_movie"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"habool","ifState":"true","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":107,"y":1239.7142857313156,"wires":[["088fe31c2b932ce4"],["b812ad53f9d1ea5d"]]},{"id":"6c31557d61cd94db","type":"api-call-service","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"LR automodes on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_lr","input_boolean.lr_switch_light_automode","input_boolean.lr_switch_cover_automode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":450,"y":100,"wires":[[]]},{"id":"880e3492041f1e4a","type":"api-call-service","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"LR dark on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dark_lr"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":430,"y":240,"wires":[[]]},{"id":"ed5ca4624e0b85dc","type":"api-call-service","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"LR dark off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dark_lr"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":430,"y":280,"wires":[[]]},{"id":"2c6c0fd4adb7a03a","type":"server-state-changed","z":"5c803d74a2c65966","name":"LR automode","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.automode_lr","input_boolean.lr_switch_cover_automode"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"habool","ifState":"true","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":107,"y":859.7142857313156,"wires":[["cbc1967bb416fa44"],[]]},{"id":"dcf7b05b6ec72486","type":"api-call-service","z":"5c803d74a2c65966","name":"Circa on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_lr_dusk_lights","switch.adaptive_lighting_lr_dark_lights"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":600,"y":960,"wires":[[]]},{"id":"aa2288d93455ef61","type":"subflow:0391067a18d38b0c","z":"5c803d74a2c65966","name":"B100 / lighty","env":[{"name":"Brightness","value":"100","type":"num"},{"name":"colorTemp","value":"5000","type":"num"},{"name":"Debug","type":"bool","value":"true"},{"name":"HA","value":"true","type":"bool"}],"x":810,"y":1120,"wires":[["85e3e0669bc897dd"]]},{"id":"4c9d4b6fdbb83fdd","type":"server-state-changed","z":"5c803d74a2c65966","name":"tv on standby for an hour?","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lr_pwr_tv_and_sound_power"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"100","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"60","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":2200,"wires":[["e5935030c3ce13a1"],[]]},{"id":"0db7f981b9bbc4c4","type":"api-call-service","z":"5c803d74a2c65966","name":"","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.lr_pwr_tv_and_sound"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":980,"y":2200,"wires":[[]]},{"id":"9baed2bcbbe7b1c0","type":"api-call-service","z":"5c803d74a2c65966","name":"Close movie roller","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"cover.close_cover","floorId":[],"areaId":[],"deviceId":["7ef507b4920b3c8154e940b8a052af4b"],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","blockInputOverrides":false,"domain":"cover","service":"close_cover","x":1790,"y":1120,"wires":[[]]},{"id":"6d011a1e5fb5bb60","type":"delay","z":"5c803d74a2c65966","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1437,"y":1119.7142857313156,"wires":[["9baed2bcbbe7b1c0"]]},{"id":"6cb24a388bf5816e","type":"link out","z":"5c803d74a2c65966","name":"automodes on","mode":"link","links":["95aea85542f49a68"],"x":392,"y":659.7142857313156,"wires":[]},{"id":"5387177964ec5179","type":"delay","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"12","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":240,"y":160,"wires":[["6c31557d61cd94db"]]},{"id":"818f8b93ed5889f4","type":"api-call-service","z":"5c803d74a2c65966","name":"turn off KI light automode","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.lr_switch_light_automode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1270,"y":440,"wires":[[]]},{"id":"db87a36f7fadb4e2","type":"api-current-state","z":"5c803d74a2c65966","name":"30 min no occu","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"binary_sensor.presence_sensor_fp2_8dd7_presence_sensor_1","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1017,"y":679.7142857313156,"wires":[["626a256b66e1ad19"],[]]},{"id":"a01c08b0603ce837","type":"link in","z":"5c803d74a2c65966","g":"e573e5b5f39ba163","name":"system ready","links":["5f38473fcb6ee383"],"x":210,"y":100,"wires":[["6c31557d61cd94db"]],"l":true},{"id":"cbc1967bb416fa44","type":"subflow:7022a3b8a63f07f1","z":"5c803d74a2c65966","name":"","env":[{"name":"roomname","value":"LR","type":"str"},{"name":"rate_limit","type":"bool","value":"true"}],"x":377,"y":819.7142857313156,"wires":[["6cb24a388bf5816e","91bbb50f2dab0e9e","1e7d9cbf432b53e7","2612d55b9486f52f"],["1e1bb4ca67ca117a"],["1e1bb4ca67ca117a"],["d1eb98b17348e8ac","4b41ed8c266afe1e"],["dcf7b05b6ec72486","fea3b595b6f7b273"],["7645455b62079fa6"]]},{"id":"b0d5b8b0a69717a6","type":"server-state-changed","z":"5c803d74a2c65966","name":"Housestate v2","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.housestate_v2"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":107,"y":899.7142857313156,"wires":[["cbc1967bb416fa44","c32b20a6f66bc758"]]},{"id":"abe402a98506835f","type":"inject","z":"5c803d74a2c65966","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":680,"wires":[["cbc1967bb416fa44"]]},{"id":"073cd86a814174ca","type":"api-call-service","z":"5c803d74a2c65966","name":"Circa off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_lr_dark_lights","switch.adaptive_lighting_lr_dusk_lights"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":637,"y":1199.7142857313156,"wires":[["4020d15d3f98b95b","18896826609ca8af","0fa3a664001fa7e0","9c1fd445684248bd"]]},{"id":"c32b20a6f66bc758","type":"api-call-service","z":"5c803d74a2c65966","name":"turn off netatmo","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.lr_pwr_netatmo_switch_1"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":257,"y":959.7142857313156,"wires":[["1515619ce2e1e8e5"]]},{"id":"1515619ce2e1e8e5","type":"delay","z":"5c803d74a2c65966","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":117,"y":1019.7142857313156,"wires":[["4b1dc9e28d9d0d49"]]},{"id":"4b1dc9e28d9d0d49","type":"api-call-service","z":"5c803d74a2c65966","name":"turn on netatmo","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.lr_pwr_netatmo_switch_1"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":277,"y":1019.7142857313156,"wires":[[]]},{"id":"d2650d40a6e3f9be","type":"inject","z":"5c803d74a2c65966","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":77,"y":959.7142857313156,"wires":[["c32b20a6f66bc758"]]},{"id":"e5935030c3ce13a1","type":"subflow:7022a3b8a63f07f1","z":"5c803d74a2c65966","name":"","env":[{"name":"roomname","value":"LR","type":"str"},{"name":"rate_limit","type":"bool","value":"true"}],"x":620,"y":2200,"wires":[[],[],[],[],["0db7f981b9bbc4c4"],[]]},{"id":"0f731c8dba40879b","type":"api-call-service","z":"5c803d74a2c65966","g":"28ec4a7e4527ad98","name":"turn off cover automodea","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.lr_switch_cover_automode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1170,"y":2400,"wires":[[]]},{"id":"a2d83f6291d4fed5","type":"server-state-changed","z":"5c803d74a2c65966","g":"28ec4a7e4527ad98","name":"cover state changed","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["cover.lr_btn_movieroller_cover_0","cover.relay_switch_2pm_shade_2","cover.relay_switch_2pm_shade"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":2400,"wires":[["99eef54d99aaa1e8"]]},{"id":"8f653249572b4b62","type":"switch","z":"5c803d74a2c65966","g":"28ec4a7e4527ad98","name":"manual action?","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":2400,"wires":[["0f731c8dba40879b"]]},{"id":"99eef54d99aaa1e8","type":"switch","z":"5c803d74a2c65966","g":"28ec4a7e4527ad98","name":"not \"open\" or\"closed\" state?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"closed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":2400,"wires":[[],[],["8f653249572b4b62"]]},{"id":"fea3b595b6f7b273","type":"api-call-service","z":"5c803d74a2c65966","name":"Movie Mode off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.scene_movie"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":620,"y":1000,"wires":[[]]},{"id":"c6dd2011e28d3d7e","type":"api-call-service","z":"5c803d74a2c65966","name":"Close backdoor cover","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"cover.close_cover","floorId":[],"areaId":[],"deviceId":["155fa0d491001a91cf8494afae5a1c84"],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","blockInputOverrides":false,"domain":"cover","service":"close_cover","x":1980,"y":1220,"wires":[[]]},{"id":"700c6cdc3280125d","type":"api-call-service","z":"5c803d74a2c65966","name":"Open all covers","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"cover.open_cover","floorId":[],"areaId":[],"deviceId":["155fa0d491001a91cf8494afae5a1c84","7ef507b4920b3c8154e940b8a052af4b","1bca48717340d487cd6dcd8bda1a7ab5"],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","blockInputOverrides":false,"domain":"cover","service":"open_cover","x":1780,"y":1160,"wires":[[]]},{"id":"9dc270d42f7fcf41","type":"delay","z":"5c803d74a2c65966","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1440,"y":1160,"wires":[["700c6cdc3280125d"]]},{"id":"99d88de890b87069","type":"delay","z":"5c803d74a2c65966","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1437,"y":1199.7142857313156,"wires":[["9706ee89fc70c812"]]},{"id":"5d509ee82f8aa345","type":"api-call-service","z":"5c803d74a2c65966","name":"Close kitchen cover 20%","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"cover.set_cover_position","floorId":[],"areaId":[],"deviceId":["1bca48717340d487cd6dcd8bda1a7ab5"],"entityId":[],"labelId":[],"data":"{\"position\":\"20\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","blockInputOverrides":false,"domain":"cover","service":"set_cover_position","x":1990,"y":1260,"wires":[[]]},{"id":"c3c736855bed2539","type":"api-call-service","z":"5c803d74a2c65966","name":"Movie Mode Toggle","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.scene_movie"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"toggle","x":1030,"y":520,"wires":[[]]},{"id":"1e7d9cbf432b53e7","type":"api-call-service","z":"5c803d74a2c65966","name":"Cover Automode On","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.lr_switch_cover_automode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":657,"y":639.7142857313156,"wires":[[]]},{"id":"2efa725a7de6ccf3","type":"api-call-service","z":"5c803d74a2c65966","name":"Dusk lights on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":["e7fbe40dcc99cfb978d37bf09c98843f"],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1457,"y":599.7142857313156,"wires":[[]]},{"id":"5c30735b6cdc88e0","type":"api-call-service","z":"5c803d74a2c65966","name":"evening lights on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":["259d1d84b2484fcc97527021f5d734f8"],"entityId":["light.lr_li_besta_hoch"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":680,"wires":[[]]},{"id":"dc94b50e8e09e647","type":"api-call-service","z":"5c803d74a2c65966","name":"Switch lights Off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":["f43d415683fb9ac62986e567fc6f64a3"],"entityId":["device_tracker.pwr_christmas_2","switch.smart_plug_pwr_christmas_2","switch.hw_pwr_christmas_2"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":1457,"y":759.7142857313156,"wires":[[]]},{"id":"b0a6944c4fc4dd70","type":"api-call-service","z":"5c803d74a2c65966","name":"Diner Lights off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.diner_lights"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1457,"y":839.7142857313156,"wires":[[]]},{"id":"9c1fd445684248bd","type":"link out","z":"5c803d74a2c65966","name":"link out 8","mode":"link","links":["dad4e7ed40ab5097"],"x":872,"y":1199.7142857313156,"wires":[]},{"id":"dad4e7ed40ab5097","type":"link in","z":"5c803d74a2c65966","name":"link in 6","links":["9c1fd445684248bd"],"x":865,"y":580,"wires":[["edc58579988fc3a3"]]},{"id":"d1eb98b17348e8ac","type":"link out","z":"5c803d74a2c65966","name":"link out 9","mode":"link","links":["109f98d4202bf75f"],"x":575,"y":900,"wires":[]},{"id":"109f98d4202bf75f","type":"link in","z":"5c803d74a2c65966","name":"link in 7","links":["d1eb98b17348e8ac"],"x":1052,"y":1199.7142857313156,"wires":[["4ba1892a52234a5b"]]},{"id":"fdcf9cf7a3462fa4","type":"link in","z":"5c803d74a2c65966","name":"link in 8","links":["2612d55b9486f52f"],"x":1285,"y":1160,"wires":[["9dc270d42f7fcf41"]]},{"id":"2612d55b9486f52f","type":"link out","z":"5c803d74a2c65966","name":"link out 10","mode":"link","links":["fdcf9cf7a3462fa4"],"x":645,"y":880,"wires":[]},{"id":"458291ec7b85ee73","type":"api-current-state","z":"5c803d74a2c65966","name":"Christmas?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.christmas_time","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2110,"y":780,"wires":[["ec17091230e1e414"],[]]},{"id":"4cd43842596fd29b","type":"subflow:7022a3b8a63f07f1","z":"5c803d74a2c65966","name":"","env":[{"name":"roomname","value":"LR","type":"str"},{"name":"rate_limit","type":"bool","value":"true"}],"x":1860,"y":820,"wires":[["458291ec7b85ee73"],["458291ec7b85ee73","becd2ce473083a80"],["458291ec7b85ee73","becd2ce473083a80"],["df11d1821120971a"],[],[]]},{"id":"c5e5759ec1c84a18","type":"api-call-service","z":"5c803d74a2c65966","name":"Christmas indoor 1 off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.all_indoor_lights_lights"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":2460,"y":640,"wires":[[]]},{"id":"f28ffc0668161fc8","type":"api-call-service","z":"5c803d74a2c65966","name":"Christmas indoor 2 off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.christmas_indoor"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":2460,"y":760,"wires":[[]]},{"id":"24b12e2b5ac7a5cd","type":"api-call-service","z":"5c803d74a2c65966","name":"Christmas outdoor off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.christmas_outdoor"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":2380,"y":920,"wires":[[]]},{"id":"becd2ce473083a80","type":"api-current-state","z":"5c803d74a2c65966","name":"Christmas?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.christmas_time","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2110,"y":820,"wires":[["d0f71cce2fd67536","6ba624102d793d4d"],[]]},{"id":"df11d1821120971a","type":"api-current-state","z":"5c803d74a2c65966","name":"Christmas?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.christmas_time","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2110,"y":860,"wires":[["c5e5759ec1c84a18","f28ffc0668161fc8","24b12e2b5ac7a5cd"],[]]},{"id":"71eba32f58a65f4b","type":"inject","z":"5c803d74a2c65966","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":1080,"wires":[["aa2288d93455ef61"]]},{"id":"ec17091230e1e414","type":"api-current-state","z":"5c803d74a2c65966","name":"Dark?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.dark_lr","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2230,"y":600,"wires":[["065716d87d46b258","498186b62057ec5b"],[]]},{"id":"6ba624102d793d4d","type":"api-current-state","z":"5c803d74a2c65966","name":"Dark?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.dark_lr","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2230,"y":660,"wires":[["498186b62057ec5b"],["f28ffc0668161fc8"]]},{"id":"10d8034c89e69f26","type":"inject","z":"5c803d74a2c65966","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":700,"wires":[["5db8b9e3cf9034ea"]]},{"id":"1448ccebd690d5f7","type":"inject","z":"5c803d74a2c65966","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2250,"y":480,"wires":[["065716d87d46b258"]]},{"id":"9706ee89fc70c812","type":"api-current-state","z":"5c803d74a2c65966","name":"","server":"98399ad379bd1023","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.klosterdorf","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1730,"y":1400,"wires":[["54055f7d8d373e5c"]]},{"id":"822f141283fae053","type":"inject","z":"5c803d74a2c65966","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1490,"y":1460,"wires":[["9706ee89fc70c812"]]},{"id":"54055f7d8d373e5c","type":"switch","z":"5c803d74a2c65966","name":"temp < -5","property":"data.attributes.temperature","propertyType":"msg","rules":[{"t":"lt","v":"-5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2000,"y":1400,"wires":[["88be58a2e5cb10d9"],["c6dd2011e28d3d7e","9baed2bcbbe7b1c0","5d509ee82f8aa345"]]},{"id":"88be58a2e5cb10d9","type":"api-call-service","z":"5c803d74a2c65966","name":"Close covers 50%","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"cover.set_cover_position","floorId":[],"areaId":[],"deviceId":["1bca48717340d487cd6dcd8bda1a7ab5"],"entityId":["cover.ki_rlr_backdoor","cover.lr_rlr"],"labelId":[],"data":"{\"position\":\"50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","blockInputOverrides":false,"domain":"cover","service":"set_cover_position","x":2250,"y":1420,"wires":[[]]},{"id":"8b4d5cb4148e39d5","type":"FlowHubPull","z":"5c803d74a2c65966","name":"","notab":false,"flowid":"","flowname":"","flowrevision":"","x":1230,"y":160,"wires":[[],[]]},{"id":"51bd6073adc794c8","type":"zigbee2mqtt-server","name":"Local MQTT","host":"192.168.1.9","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","mqtt_qos":"0","tls":"","usetls":false,"base_topic":"zigbee2mqtt/v2"},{"id":"98399ad379bd1023","type":"server","name":"Home Assistant","version":6,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":true}]