7bda73a039dcc48f/flows.json
[{"id":"33728e37ca2c13a0","type":"subflow","name":"Christmas Season Detection (1)","info":"Detects if current date falls within Christmas season with configurable start/end dates","category":"","in":[{"x":100,"y":100,"wires":[{"id":"c31cea64502b7363"}]}],"out":[{"x":500,"y":100,"wires":[{"id":"c31cea64502b7363","port":0}]}],"env":[{"name":"christmas_start","type":"str","value":"totensonntag","ui":{"icon":"font-awesome/fa-play","type":"select","opts":{"opts":[{"l":{"en-US":"Totensonntag (Mon after)"},"v":"totensonntag"},{"l":{"en-US":"First Advent"},"v":"advent"},{"l":{"en-US":"December 1"},"v":"december1"},{"l":{"en-US":"Black Friday"},"v":"blackfriday"},{"l":{"en-US":"Thanksgiving"},"v":"thanksgiving"}]}}},{"name":"christmas_end","type":"str","value":"endofjanuary","ui":{"icon":"font-awesome/fa-stop","type":"select","opts":{"opts":[{"l":{"en-US":"End of January (Jan 31)"},"v":"endofjanuary"},{"l":{"en-US":"Epiphany (Jan 6)"},"v":"epiphany"},{"l":{"en-US":"New Year (Jan 1)"},"v":"newyear"},{"l":{"en-US":"Boxing Day (Dec 26)"},"v":"boxingday"},{"l":{"en-US":"Christmas Day (Dec 25)"},"v":"christmas"}]}}},{"name":"debug","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-bug","type":"select","opts":{"opts":[{"l":{"en-US":"true"},"v":"true"},{"l":{"en-US":"false"},"v":"false"}]}}}],"meta":{},"color":"#FFAAAA","icon":"font-awesome/fa-tree","status":{"x":300,"y":200,"wires":[{"id":"c31cea64502b7363","port":0}]}},{"id":"c31cea64502b7363","type":"function","z":"33728e37ca2c13a0","name":"Christmas Season Check","func":"var config = global.get(\"config\") || {};\n\nconfig.christmas = isChristmasSeason();\nnode.status({ fill: \"green\", shape: \"ring\", text: String(config.christmas) });\n\nmsg.payload = config.christmas;\n\nglobal.set(\"config\", config);\n\nreturn msg;\n\nfunction isChristmasSeason() {\n    const now = new Date();\n    const currentYear = now.getFullYear();\n\n    const seasonStart = env.get(\"christmas_start\") || \"totensonntag\";\n    const seasonEnd = env.get(\"christmas_end\") || \"endofjanuary\";\n    const debug = env.get(\"debug\") === true || env.get(\"debug\") === \"true\";\n\n    let seasonStartDate, seasonEndDate;\n\n    // If we're in January, season started last year and ends this year.\n    if (now.getMonth() === 0) {\n        seasonStartDate = getSeasonStartDate(currentYear - 1, seasonStart);\n        seasonEndDate = getSeasonEndDate(currentYear, seasonEnd);\n    } else {\n        seasonStartDate = getSeasonStartDate(currentYear, seasonStart);\n        seasonEndDate = getSeasonEndDate(currentYear + 1, seasonEnd);\n    }\n\n    if (isNaN(seasonStartDate.getTime()) || isNaN(seasonEndDate.getTime())) {\n        node.error(\"Invalid date calculation in Christmas season check\");\n        return false;\n    }\n\n    const isChristmas = now >= seasonStartDate && now <= seasonEndDate;\n\n    if (debug) {\n        node.warn(`Christmas Season Check: Current: ${now.toISOString()}, Season Start: ${seasonStartDate.toISOString()}, Season End: ${seasonEndDate.toISOString()}, Is Christmas: ${isChristmas}`);\n    }\n\n    return isChristmas;\n}\n\nfunction getSeasonStartDate(year, seasonType) {\n    switch ((seasonType || \"\").toLowerCase()) {\n        case \"totensonntag\":\n            return getTotensonntagStart(year);\n        case \"advent\":\n            return getFirstAdvent(year);\n        case \"december1\":\n            return new Date(year, 11, 1);\n        case \"blackfriday\":\n            return getBlackFriday(year);\n        case \"thanksgiving\":\n            return getThanksgiving(year);\n        default:\n            return getTotensonntagStart(year);\n    }\n}\n\nfunction getSeasonEndDate(year, seasonType) {\n    switch ((seasonType || \"\").toLowerCase()) {\n        case \"endofjanuary\":\n            return new Date(year, 0, 31);\n        case \"epiphany\":\n            return new Date(year, 0, 6);\n        case \"newyear\":\n            return new Date(year, 0, 1);\n        case \"boxingday\":\n            return new Date(year - 1, 11, 26);\n        case \"christmas\":\n            return new Date(year - 1, 11, 25);\n        default:\n            return new Date(year, 0, 31);\n    }\n}\n\n// Robust Advent calc: first Sunday between Nov 27 and Dec 3.\nfunction getFirstAdvent(year) {\n    const nov27 = new Date(year, 10, 27); // Nov = 10\n    const dayOfWeek = nov27.getDay(); // 0=Sun\n    const daysToAdd = (7 - dayOfWeek) % 7;\n    const firstAdvent = new Date(nov27);\n    firstAdvent.setDate(nov27.getDate() + daysToAdd);\n    return firstAdvent;\n}\n\n// Totensonntag = Sunday before First Advent; start = Monday after it.\nfunction getTotensonntagStart(year) {\n    const firstAdvent = getFirstAdvent(year);\n    const totensonntag = new Date(firstAdvent);\n    totensonntag.setDate(firstAdvent.getDate() - 7);\n    const startMonday = new Date(totensonntag);\n    startMonday.setDate(totensonntag.getDate() + 1);\n    return startMonday;\n}\n\nfunction getBlackFriday(year) {\n    const thanksgiving = getThanksgiving(year);\n    const blackFriday = new Date(thanksgiving);\n    blackFriday.setDate(thanksgiving.getDate() + 1);\n    return blackFriday;\n}\n\nfunction getThanksgiving(year) {\n    const november1 = new Date(year, 10, 1);\n    const dayOfWeek = november1.getDay();\n    const daysToAdd = ((4 - dayOfWeek + 7) % 7) + 21;\n    const thanksgiving = new Date(november1);\n    thanksgiving.setDate(november1.getDate() + daysToAdd);\n    return thanksgiving;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[[]]},{"id":"dceb4bde60cc2d66","type":"subflow","name":"date+time for statusnode","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"e09590162cf01e70"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"e09590162cf01e70","port":0}]}],"env":[{"name":"originalPayload","type":"bool","value":"true","ui":{"label":{"en-US":"include original payload in text?"},"type":"input","opts":{"types":["bool","env"]}}}],"meta":{},"color":"#DDAA99"},{"id":"e09590162cf01e70","type":"function","z":"dceb4bde60cc2d66","name":"return date + time as msg","func":"var current = new Date();\nvar hours = current.getHours();\nvar minutes = current.getMinutes();\nvar seconds = current.getSeconds();\nconst originalPayload = env.get(\"originalPayload\");\n\nif (minutes < 10) minutes = \"0\" + minutes;\nif (seconds < 10) seconds = \"0\" + seconds;\n\nmsg.payload = `${hours}:${minutes}:${seconds}${originalPayload ? \"; \"+msg.payload : ''}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[[]]},{"id":"36478c61.fab604","type":"subflow","name":"Store HouseState","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"46ec81c66287535a"}]}],"out":[{"x":1950,"y":80,"wires":[{"id":"91aac033.4daa3","port":0}]},{"x":1960,"y":220,"wires":[{"id":"6b8c62c8bdd99030","port":0}]}],"env":[{"name":"houseState","type":"str","value":"off","ui":{"icon":"font-awesome/fa-sliders","type":"select","opts":{"opts":[{"l":{"en-US":"daytime"},"v":"daytime"},{"l":{"en-US":"dusk"},"v":"dusk"},{"l":{"en-US":"slumber"},"v":"slumber"},{"l":{"en-US":"custom"},"v":"custom"}]}}},{"name":"automode_insensitive","type":"bool","value":"false","ui":{"label":{"en-US":"insensitive for home automode?"},"type":"checkbox"}},{"name":"v2","type":"bool","value":"false","ui":{"type":"checkbox"}}],"meta":{},"color":"#DDAA99","outputLabels":["done","automode = off"],"status":{"x":1900,"y":160,"wires":[{"id":"da3e496ffb45f304","port":0}]}},{"id":"91aac033.4daa3","type":"change","z":"36478c61.fab604","name":"set new houseState","rules":[{"t":"set","p":"config.houseState","pt":"global","to":"houseState","tot":"env","dc":true},{"t":"set","p":"payload","pt":"msg","to":"houseState","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":80,"wires":[["da3e496ffb45f304","d6851a6a5d0a941a"]]},{"id":"827098e897be6361","type":"switch","z":"36478c61.fab604","name":"check if state is new","property":"config.houseState","propertyType":"global","rules":[{"t":"neq","v":"houseState","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":80,"wires":[["91aac033.4daa3"]]},{"id":"46ec81c66287535a","type":"change","z":"36478c61.fab604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"houseState","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":80,"wires":[["f4db7f8df5721b55"]]},{"id":"da3e496ffb45f304","type":"subflow:dceb4bde60cc2d66","z":"36478c61.fab604","name":"","x":1750,"y":160,"wires":[[]]},{"id":"f4db7f8df5721b55","type":"switch","z":"36478c61.fab604","name":"automode insensitive?","property":"automode_insensitive","propertyType":"env","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":80,"wires":[["6dd398062c7ea94a"],["827098e897be6361"]]},{"id":"6dd398062c7ea94a","type":"api-current-state","z":"36478c61.fab604","name":"","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.automode_home","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":140,"wires":[["827098e897be6361"],["6b8c62c8bdd99030"]]},{"id":"43dcae18207cae60","type":"api-call-service","z":"36478c61.fab604","name":"","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.housestate"],"labelId":[],"data":"{\"option\":payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1650,"y":380,"wires":[[]]},{"id":"d6851a6a5d0a941a","type":"switch","z":"36478c61.fab604","name":"v2?","property":"v2","propertyType":"env","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":340,"wires":[["984161626c562c62"],["43dcae18207cae60"]]},{"id":"984161626c562c62","type":"api-call-service","z":"36478c61.fab604","name":"v2 housestate","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.housestate_v2"],"labelId":[],"data":"{\"option\":payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1620,"y":340,"wires":[[]]},{"id":"6b8c62c8bdd99030","type":"junction","z":"36478c61.fab604","x":1360,"y":220,"wires":[[]]},{"id":"98399ad379bd1023","type":"server","name":"Home Assistant","version":6,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"7bda73a039dcc48f","type":"tab","label":"F_Define housestate","disabled":false,"info":"","env":[]},{"id":"a928c8a5a69c3f90","type":"group","z":"7bda73a039dcc48f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0ddcaa9180586c1c","118efe90.9b69e1","20bcd570e5c6755b","3d6de057a9d99187","8ca45f677b0ee91d","2551f241eac6855c","56b052835c002e94","cb24237efc7798b0","7f28bb99f2af1f1d","2c3d18a620833d82","a3216908493de40b","f0aa82c3593f53e5","5e593966ad39fbad","40a6916ec14463ec","d10e8334a37b7583","011ec74e51658962","e85f85e8168afc8d","af71f9f96ed71424","01193a43b3d874e9","92503fd9d6e2c206","9c86d3ea12dab9af","9e7538830c62ffec","405e2ef48aac8f1d","5c6742175bd225d3","58ea7dcf5ee31887","ac3cdac9361dc4ee","0ff70e54df33f84f","7c138c9c9ea49f50","02d279b375a8709d","aff476fd1e4247cd","a8aa41a3eb624743","cdd87394e09dfc93","25d1e088b5dfbcdc","eb17f9fce896fa17","5bcd794588c4a184","1d938221f14679d2","9ff096e6e1ae17e8","6266282b14e4f8a9","dda9b45d6fcb6759","f1473c495d0daba9","e0444bdea85e78fb","8812d3b6a51d0be4","d3a5c4da697f4d10"],"x":34,"y":1159,"w":1792,"h":922},{"id":"d28a5a9b8bfe7d1d","type":"junction","z":"7bda73a039dcc48f","x":860,"y":720,"wires":[["1cd8d5b76a4d9a88"]]},{"id":"c181f457b28dcc87","type":"junction","z":"7bda73a039dcc48f","x":860,"y":680,"wires":[["923c5f545379fbc0"]]},{"id":"0ddcaa9180586c1c","type":"function","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"are we home?","func":"let config = global.get(\"config\");\n\nif (config.areWeHome[\"Kees\"] || config.areWeHome[\"Emma\"])\n{\n    return [null, msg];\n}\nelse {\n    return [msg,null];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1520,"wires":[["20bcd570e5c6755b"],["118efe90.9b69e1"]],"outputLabels":["we're away","we're home"]},{"id":"118efe90.9b69e1","type":"within-time-switch","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","nameInt":"","positionConfig":"a57136f0.fddac","startTime":"sunsetStart","startTimeType":"pdsTime","startOffset":"0","startOffsetType":"num","startOffsetMultiplier":60000,"endTime":"goldenHourDawnStart","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"true","outOfTimeValueType":"msgInput","tsCompare":"0","x":720,"y":1540,"wires":[["3d6de057a9d99187"],["8ca45f677b0ee91d"]]},{"id":"20bcd570e5c6755b","type":"within-time-switch","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","nameInt":"","positionConfig":"a57136f0.fddac","startTime":"sunsetStart","startTimeType":"pdsTime","startOffset":"0","startOffsetType":"num","startOffsetMultiplier":60000,"endTime":"goldenHourDawnStart","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"true","outOfTimeValueType":"msgInput","tsCompare":"0","x":720,"y":1480,"wires":[["2551f241eac6855c"],["56b052835c002e94"]]},{"id":"3d6de057a9d99187","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"set evening","env":[{"name":"houseState","value":"evening","type":"str"}],"x":1230,"y":1540,"wires":[[],[]]},{"id":"8ca45f677b0ee91d","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"set daytime","env":[{"name":"houseState","value":"daytime","type":"str"}],"x":1230,"y":1580,"wires":[[],[]]},{"id":"2551f241eac6855c","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"set evening_notPresent","env":[{"name":"houseState","value":"evening_notPresent","type":"str"}],"x":1270,"y":1440,"wires":[[],[]]},{"id":"56b052835c002e94","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"set daytime_notPresent","env":[{"name":"houseState","value":"daytime_notPresent","type":"str"},{"name":"automode_insensitive","type":"bool","value":"true"}],"x":1270,"y":1480,"wires":[["af71f9f96ed71424"],[]]},{"id":"cb24237efc7798b0","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"set night","env":[{"name":"houseState","value":"night","type":"str"},{"name":"automode_insensitive","type":"bool","value":"true"}],"x":1080,"y":2000,"wires":[[],[]]},{"id":"7f28bb99f2af1f1d","type":"link in","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Good morning","links":["af71f9f96ed71424"],"x":200,"y":1840,"wires":[["e85f85e8168afc8d"]],"l":true},{"id":"2c3d18a620833d82","type":"link in","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Good night","links":[],"x":200,"y":1960,"wires":[["92503fd9d6e2c206"]],"l":true},{"id":"a3216908493de40b","type":"link out","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"link out 6","mode":"link","links":[],"x":875,"y":1680,"wires":[]},{"id":"f0aa82c3593f53e5","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"do speedtests","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"homeassistant.update_entity","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":[\"sensor.speedtest_download\",\"sensor.speedtest_ping\",\"sensor.speedtest_upload\"]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"homeassistant","service":"update_entity","x":680,"y":1640,"wires":[[]]},{"id":"5e593966ad39fbad","type":"server-state-changed","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.en_pps_contact"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1420,"wires":[["40a6916ec14463ec"]]},{"id":"40a6916ec14463ec","type":"delay","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":1420,"wires":[["0ddcaa9180586c1c"]]},{"id":"d10e8334a37b7583","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Turn on night mode","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_mvp","switch.adaptive_lighting_sleep_mode_entrance_lights","switch.adaptive_lighting_sleep_mode_ko_circadian_lights"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":670,"y":2000,"wires":[["01193a43b3d874e9"]]},{"id":"011ec74e51658962","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Turn off night mode","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_mvp","switch.adaptive_lighting_sleep_mode_entrance_lights","switch.adaptive_lighting_sleep_mode_ko_circadian_lights","switch.adaptive_lighting_sleep_mode_livingroom_tv_corner_lights","switch.adaptive_lighting_sleep_mode_other_circadian_lights"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":690,"y":1720,"wires":[[]]},{"id":"e85f85e8168afc8d","type":"change","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Enable","rules":[{"t":"set","p":"enable","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1880,"wires":[["02d279b375a8709d"]]},{"id":"af71f9f96ed71424","type":"link out","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"to prevent guests from having to do good morning","mode":"link","links":["7f28bb99f2af1f1d"],"x":1610,"y":1480,"wires":[],"l":true},{"id":"01193a43b3d874e9","type":"delay","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":890,"y":2000,"wires":[["cb24237efc7798b0"]]},{"id":"92503fd9d6e2c206","type":"change","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Disable","rules":[{"t":"set","p":"enable","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1920,"wires":[["d10e8334a37b7583","aff476fd1e4247cd"]]},{"id":"9c86d3ea12dab9af","type":"server-state-changed","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Home Automode","server":"98399ad379bd1023","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.automode_home"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"habool","ifState":"true","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1640,"wires":[["0ddcaa9180586c1c","f0aa82c3593f53e5","011ec74e51658962","0ff70e54df33f84f"],[]]},{"id":"9e7538830c62ffec","type":"function","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"config creation","func":"let config = global.get(\"config\") ?? {};\n\nvar configObject = {\n    \"houseState\":\"not set\",\n    \"autoMode\": true,\n    \"transition\": 0.5,\n    \"areWeHome\": {\n        \"Kees\": true,\n        \"Emma\": true\n    },\n    \"API\": {\n        \"iobroker\": \"http://192.168.1.42:8087/\",\n        \"pushcut\": \"http://192.168.1.2:1881/pushcut\",\n        \"images\": \"http://192.168.1.2:1881/images\",\n        \"nrBaseURL\": \"http://192.168.1.2:1881\"\n    }\n}\n\nif (Object.keys(config).length === 0)\n{\n    global.set(\"config\", configObject);\n}\nelse {\n    config = {...config, ...configObject};\n    global.set(\"config\",config);\n}\n\nreturn msg;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[]},{"id":"405e2ef48aac8f1d","type":"inject","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"on boot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1260,"wires":[["9e7538830c62ffec","5c6742175bd225d3","58ea7dcf5ee31887","ac3cdac9361dc4ee"]]},{"id":"5c6742175bd225d3","type":"function","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"is it christmas season yet? (old)","func":"\nvar config = global.get(\"config\");\n\nconfig.christmas = isWinterSeason();\nnode.status({fill:\"green\",shape:\"ring\",text:config.christmas});\n\nmsg.payload = config.christmas;\n\nglobal.set(\"config\", config);\n\nreturn msg;\n\nfunction isWinterSeason() {\n    const now = new Date();\n    const currentMonth = now.getMonth() + 1; // Month is zero-indexed, so add 1 to get the current month number\n    const currentYear = now.getFullYear();\n\n    if (currentMonth >= 11 || currentMonth < 2) {\n        if (currentMonth === 11 && now.getDate() < 2) {\n            // If it's November and before the 2nd, it's still fall\n            return false;\n        } else if (currentMonth === 1 && now.getDate() >= 6) {\n            // If it's January and on or after the 6th, it's already spring\n            return false;\n        } else {\n            // Otherwise, it's winter\n            return true;\n        }\n    } else {\n        // It's not winter\n        return false;\n    }\n}\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1240,"wires":[["25d1e088b5dfbcdc"]]},{"id":"58ea7dcf5ee31887","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"tune orbit off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_select.select_first","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.tuneorbit_station"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_first","x":390,"y":1280,"wires":[[]]},{"id":"ac3cdac9361dc4ee","type":"link out","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"on boot","mode":"link","links":["7c138c9c9ea49f50"],"x":380,"y":1320,"wires":[],"l":true},{"id":"0ff70e54df33f84f","type":"chronos-switch","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"morning","config":"efc0ad038dc58811","baseTime":"","baseTimeType":"msgIngress","conditions":[{"operator":"after","label":"after 05:00","operands":{"type":"time","value":"05:00","offset":0,"random":0,"precision":"millisecond"}},{"operator":"before","label":"before 11:59","operands":{"type":"time","value":"11:59","offset":0,"random":0,"precision":"millisecond"}}],"stopOnFirstMatch":false,"outputs":2,"x":660,"y":1680,"wires":[[],["a3216908493de40b"]]},{"id":"7c138c9c9ea49f50","type":"link in","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"boot","links":["ac3cdac9361dc4ee"],"x":210,"y":2000,"wires":[["92503fd9d6e2c206"]],"l":true},{"id":"02d279b375a8709d","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Home automode on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":680,"y":1880,"wires":[[]]},{"id":"aff476fd1e4247cd","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Home automode off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":680,"y":1920,"wires":[[]]},{"id":"a8aa41a3eb624743","type":"server-state-changed","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Good morning","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.scene_goodmorning"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":1880,"wires":[["e85f85e8168afc8d"]]},{"id":"cdd87394e09dfc93","type":"server-state-changed","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Good night","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.scene_goodnight"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1920,"wires":[["92503fd9d6e2c206"]]},{"id":"25d1e088b5dfbcdc","type":"switch","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1240,"wires":[["eb17f9fce896fa17"],["5bcd794588c4a184"]]},{"id":"eb17f9fce896fa17","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Christmas on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.christmas_time"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":850,"y":1220,"wires":[[]]},{"id":"5bcd794588c4a184","type":"api-call-service","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Christmas off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.christmas_time"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":860,"y":1260,"wires":[[]]},{"id":"1d938221f14679d2","type":"inject","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"+1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":170,"y":1520,"wires":[["0ddcaa9180586c1c"]]},{"id":"f44c410e38cbeeea","type":"switch","z":"7bda73a039dcc48f","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connecting","vt":"str"},{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"states_loaded","vt":"str"},{"t":"eq","v":"services_loaded","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"running","vt":"str"},{"t":"eq","v":"ready","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":510,"y":100,"wires":[[],[],[],["5f38473fcb6ee383","a6b836dae10e9bc4"],[],[],[]]},{"id":"d1e9d73ad671b600","type":"server-events","z":"7bda73a039dcc48f","name":"","server":"98399ad379bd1023","version":3,"exposeAsEntityConfig":"","eventType":"home_assistant_client","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":280,"y":140,"wires":[["f44c410e38cbeeea","a6b836dae10e9bc4"]]},{"id":"5f38473fcb6ee383","type":"link out","z":"7bda73a039dcc48f","name":"HA Ready","mode":"link","links":["97f26206487f8d12","a01c08b0603ce837","7e6054ef95afde78","b8c9b7679b2cc956","b4a63cbf613ce176","4dcca266d061c4ce","c01d0f1cd0947c1f","d09b8b8e44a51a9d","16e58c1177c86386","6ce020b2ddc8295e","c07e4040fd8c85d6","71abf1fabc5cf85d"],"x":700,"y":100,"wires":[],"l":true},{"id":"a6b836dae10e9bc4","type":"debug","z":"7bda73a039dcc48f","name":"debug 80","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"9ff096e6e1ae17e8","type":"inject","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":1600,"wires":[["f0aa82c3593f53e5"]]},{"id":"6266282b14e4f8a9","type":"inject","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2040,"wires":[["92503fd9d6e2c206"]]},{"id":"dda9b45d6fcb6759","type":"inject","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1800,"wires":[["e85f85e8168afc8d"]]},{"id":"f1473c495d0daba9","type":"server-state-changed","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"Home BTN","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.home_btn_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1740,"wires":[["e0444bdea85e78fb","8812d3b6a51d0be4"]]},{"id":"e0444bdea85e78fb","type":"debug","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":1700,"wires":[]},{"id":"8812d3b6a51d0be4","type":"switch","z":"7bda73a039dcc48f","d":true,"g":"a928c8a5a69c3f90","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1_initial_press","vt":"str"},{"t":"eq","v":"2_initial_press","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1740,"wires":[["92503fd9d6e2c206"],["e85f85e8168afc8d"]]},{"id":"d011651249da4ee0","type":"function","z":"7bda73a039dcc48f","name":"config creation","func":"let config = global.get(\"config\") ?? {};\n\nvar configObject = {\n    \"houseState\":\"not set\",\n    \"autoMode\": true,\n    \"transition\": 0.5,\n    \"areWeHome\": {\n        \"Kees\": true,\n        \"Emma\": true\n    },\n    \"API\": {\n        \"iobroker\": \"http://192.168.1.42:8087/\",\n        \"pushcut\": \"http://192.168.1.2:1881/pushcut\",\n        \"images\": \"http://192.168.1.2:1881/images\",\n        \"nrBaseURL\": \"http://192.168.1.2:1881\"\n    }\n}\n\nif (Object.keys(config).length === 0)\n{\n    global.set(\"config\", configObject);\n}\nelse {\n    config = {...config, ...configObject};\n    global.set(\"config\",config);\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["af83a62afa5391cd"]]},{"id":"c063c2c093045532","type":"switch","z":"7bda73a039dcc48f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":380,"wires":[["0ade4ec4ed20a883"],["aabb05b7f9a63a1b"]]},{"id":"0ade4ec4ed20a883","type":"api-call-service","z":"7bda73a039dcc48f","name":"Christmas on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.christmas_time"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":950,"y":360,"wires":[[]]},{"id":"aabb05b7f9a63a1b","type":"api-call-service","z":"7bda73a039dcc48f","name":"Christmas off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.christmas_time"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":960,"y":400,"wires":[[]]},{"id":"97f26206487f8d12","type":"link in","z":"7bda73a039dcc48f","name":"on starting system","links":["5f38473fcb6ee383"],"x":230,"y":340,"wires":[["d011651249da4ee0","1abd628075cfbb62"]],"l":true},{"id":"1cd8d5b76a4d9a88","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","name":"set slumber","env":[{"name":"houseState","value":"slumber","type":"str"},{"name":"automode_insensitive","type":"bool","value":"true"},{"name":"v2","type":"bool","value":"true"}],"x":1310,"y":720,"wires":[[],[]]},{"id":"6318977d3910f716","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","name":"set dusk","env":[{"name":"houseState","value":"dusk","type":"str"},{"name":"v2","type":"bool","value":"true"}],"x":1500,"y":220,"wires":[[],[]]},{"id":"ea3d0f6b5114eb7c","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","name":"set daytime","env":[{"name":"houseState","value":"daytime","type":"str"},{"name":"v2","type":"bool","value":"true"}],"x":1310,"y":620,"wires":[["a5ffbe8eb2a8bf79"],[]]},{"id":"0718b552f6bc67d2","type":"api-current-state","z":"7bda73a039dcc48f","name":"Home automode true?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.automode_home","state_type":"habool","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":620,"wires":[["f742e9ee9738adb9"],["c181f457b28dcc87"]]},{"id":"923c5f545379fbc0","type":"subflow:36478c61.fab604","z":"7bda73a039dcc48f","name":"set custom","env":[{"name":"houseState","value":"custom","type":"str"},{"name":"automode_insensitive","type":"bool","value":"true"},{"name":"v2","type":"bool","value":"true"}],"x":1310,"y":680,"wires":[[],[]]},{"id":"f742e9ee9738adb9","type":"api-current-state","z":"7bda73a039dcc48f","name":"System mode true?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.systemmode_home","state_type":"habool","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":620,"wires":[["09fb513196d7b8c9"],["d28a5a9b8bfe7d1d"]]},{"id":"1c888bdade002bc9","type":"server-state-changed","z":"7bda73a039dcc48f","name":"Mode changes","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.automode_home","input_boolean.systemmode_home"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"habool","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":620,"wires":[["0718b552f6bc67d2"]]},{"id":"f4b7b55662b7dc51","type":"link in","z":"7bda73a039dcc48f","name":"Good morning v2","links":["9295e1377a67800a","d0be43053f534ee2"],"x":200,"y":820,"wires":[["b4d775cd599b0c50"]],"l":true},{"id":"b4d775cd599b0c50","type":"api-call-service","z":"7bda73a039dcc48f","name":"turn on system mode","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.systemmode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":420,"y":820,"wires":[[]]},{"id":"e3923380340a8dd6","type":"link in","z":"7bda73a039dcc48f","name":"Good night v2","links":["71e15718e223ab44"],"x":210,"y":860,"wires":[["5dc26f47c23554f9"]],"l":true},{"id":"5dc26f47c23554f9","type":"api-call-service","z":"7bda73a039dcc48f","name":"turn off system mode","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.systemmode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":420,"y":860,"wires":[[]]},{"id":"d8c281ecdefd9c3b","type":"inject","z":"7bda73a039dcc48f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":760,"wires":[["b4d775cd599b0c50"]]},{"id":"c58f269c8f40c6c5","type":"inject","z":"7bda73a039dcc48f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":940,"wires":[["5dc26f47c23554f9"]]},{"id":"af83a62afa5391cd","type":"link out","z":"7bda73a039dcc48f","d":true,"name":"config ready","mode":"link","links":["2466524cb090c509"],"x":625,"y":340,"wires":[]},{"id":"2466524cb090c509","type":"link in","z":"7bda73a039dcc48f","name":"config ready","links":["af83a62afa5391cd"],"x":175,"y":560,"wires":[["0718b552f6bc67d2"]]},{"id":"b3aad4c287fe8ef3","type":"server-state-changed","z":"7bda73a039dcc48f","name":"Housestate v2","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.housestate_v2"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":480,"wires":[["0718b552f6bc67d2","4440982658337bd5","c9022519d3fa29c0","44c21fe5b64f887b","1abd628075cfbb62"]]},{"id":"5ffb42f8ce4df49a","type":"server-state-changed","z":"7bda73a039dcc48f","name":"automode button state","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.system_mode_input"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":720,"y":800,"wires":[["b960a93b1885296d"]]},{"id":"c7e59ad6c43113d6","type":"server-state-changed","z":"7bda73a039dcc48f","name":"system mode button state","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.automode_input"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":690,"y":880,"wires":[["43774d6365b70eec"]]},{"id":"ba4806fc9e77abb7","type":"api-call-service","z":"7bda73a039dcc48f","name":"Home automode on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1080,"y":780,"wires":[[]]},{"id":"c60639159877be78","type":"api-call-service","z":"7bda73a039dcc48f","name":"Home automode off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.automode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1080,"y":820,"wires":[[]]},{"id":"9828d393c515b6e0","type":"api-call-service","z":"7bda73a039dcc48f","name":"Home system off","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.systemmode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1070,"y":900,"wires":[[]]},{"id":"3cccf856c19f148b","type":"api-call-service","z":"7bda73a039dcc48f","name":"Home system on","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.systemmode_home"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1070,"y":860,"wires":[[]]},{"id":"a54cecfdacd0fb14","type":"chronos-switch","z":"7bda73a039dcc48f","name":"morning","config":"efc0ad038dc58811","baseTime":"","baseTimeType":"msgIngress","conditions":[{"operator":"between","label":"between 05:00 and 11:59","operands":[{"type":"time","value":"05:00","offset":0,"random":0,"precision":"millisecond"},{"type":"time","value":"11:59","offset":0,"random":0,"precision":"millisecond"}]}],"stopOnFirstMatch":false,"outputs":1,"x":1920,"y":620,"wires":[["ee268274371216e9"]]},{"id":"ee268274371216e9","type":"link out","z":"7bda73a039dcc48f","name":"link out 1","mode":"link","links":["d983ca5361360413"],"x":2025,"y":620,"wires":[]},{"id":"09fb513196d7b8c9","type":"api-current-state","z":"7bda73a039dcc48f","name":"After sunrise?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"$now()","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"sensor.home_sun_rising","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":540,"wires":[["6f876f00dad40861"],["6f876f00dad40861"]]},{"id":"6f876f00dad40861","type":"api-current-state","z":"7bda73a039dcc48f","name":"Before dusk?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"$now()","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.home_sun_dusk","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":460,"wires":[["1843d4d21914bce5"],["6318977d3910f716"]]},{"id":"a5ffbe8eb2a8bf79","type":"delay","z":"7bda73a039dcc48f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1540,"y":620,"wires":[["c0923f069f60aa25"]]},{"id":"d3a5c4da697f4d10","type":"comment","z":"7bda73a039dcc48f","g":"a928c8a5a69c3f90","name":"old stuff","info":"","x":1720,"y":1220,"wires":[]},{"id":"3dd4623e24135f8f","type":"inject","z":"7bda73a039dcc48f","name":"every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":700,"wires":[["0718b552f6bc67d2"]]},{"id":"c0923f069f60aa25","type":"function","z":"7bda73a039dcc48f","name":"already sent today?","func":"// Get today's date in YYYY-MM-DD format\nlet today = new Date().toISOString().split('T')[0];\n\n// Get stored date from global context\nlet lastDate = global.get('lastProcessedDate');\n\n// If the date is different, update global and return msg\nif (lastDate !== today) {\n    global.set('lastProcessedDate', today);\n    return msg;\n}\n\n// Otherwise, suppress output\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":620,"wires":[["a54cecfdacd0fb14"]]},{"id":"4440982658337bd5","type":"function","z":"7bda73a039dcc48f","name":"set message","func":"const state = msg.payload;\n\nconst stateLabels = {\n    daytime: \" Dei\",\n    dusk: \" Skimer\",\n    slumber: \" Nacht\",\n    custom: \" Eigen steat\"\n};\n\nconst label = stateLabels[state] || ` Unbekend (${state})`;\n\nmsg.payload = {\n    data: {\n        message: ` Hsstn feroare: ${label}`,\n        title: \"Huisstatus update\"\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["92d687d9e6e8a6fd","02fc774f5fca4d6c"]]},{"id":"92d687d9e6e8a6fd","type":"api-call-service","z":"7bda73a039dcc48f","name":"","server":"98399ad379bd1023","version":7,"debugenabled":true,"action":"notify.mobile_app_caseyromkes_16p","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_caseyromkes_16p","x":770,"y":480,"wires":[[]]},{"id":"c9022519d3fa29c0","type":"debug","z":"7bda73a039dcc48f","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":520,"wires":[]},{"id":"0169796f4bd96a1a","type":"inject","z":"7bda73a039dcc48f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"daytime","payloadType":"str","x":210,"y":420,"wires":[["4440982658337bd5"]]},{"id":"02fc774f5fca4d6c","type":"debug","z":"7bda73a039dcc48f","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":560,"wires":[]},{"id":"2d1f10e50b2b534b","type":"flow2src","z":"7bda73a039dcc48f","name":"","incFlows":"*","incSubflows":"*","srcFolder":"src/flows","subflowFolder":"src/subflows","chkAutoFlow2Src":true,"x":260,"y":80,"wires":[]},{"id":"44c21fe5b64f887b","type":"function","z":"7bda73a039dcc48f","name":"prep audio msg","func":"// TypeScript/JS strict mode\nconst houseState= msg.payload ?? \"unknown\";\n\nreturn {\n  payload: {\n    action: \"assist_satellite.announce\",\n    data: { message: `House state is now: ${houseState}` }\n  }\n};\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":440,"wires":[["fc05402b5c9b228d"]]},{"id":"fc05402b5c9b228d","type":"api-call-service","z":"7bda73a039dcc48f","name":"","server":"98399ad379bd1023","version":7,"debugenabled":false,"action":"assist_satellite.announce","floorId":[],"areaId":[],"deviceId":[],"entityId":["assist_satellite.home_assistant_voice_099d3d_assist_satellite"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"assist_satellite","service":"announce","x":730,"y":440,"wires":[[]]},{"id":"b960a93b1885296d","type":"switch","z":"7bda73a039dcc48f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":800,"wires":[["ba4806fc9e77abb7"],["c60639159877be78"]]},{"id":"43774d6365b70eec","type":"switch","z":"7bda73a039dcc48f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":880,"wires":[["3cccf856c19f148b"],["9828d393c515b6e0"]]},{"id":"f1907631e8e74f87","type":"server-state-changed","z":"7bda73a039dcc48f","name":"","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.eg_pps"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":200,"wires":[[]]},{"id":"7efd82188ac5c463","type":"server-state-changed","z":"7bda73a039dcc48f","name":"","server":"98399ad379bd1023","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.og_pps"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":240,"wires":[[]]},{"id":"1abd628075cfbb62","type":"subflow:33728e37ca2c13a0","z":"7bda73a039dcc48f","name":"","env":[{"name":"debug","value":"true","type":"str"}],"x":530,"y":380,"wires":[["c063c2c093045532"]]},{"id":"92be88ce44588d2d","type":"inject","z":"7bda73a039dcc48f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":380,"wires":[["1abd628075cfbb62"]]},{"id":"1843d4d21914bce5","type":"api-current-state","z":"7bda73a039dcc48f","name":"Christmas?","server":"98399ad379bd1023","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.christmas_time","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1410,"y":440,"wires":[["99b49c664e432def"],["ea3d0f6b5114eb7c"]]},{"id":"99b49c664e432def","type":"chronos-switch","z":"7bda73a039dcc48f","name":"after 15:00?","config":"efc0ad038dc58811","reference":"","referenceType":"absTime","baseTime":"","baseTimeType":"msgIngress","conditions":[{"operator":"after","label":"after 15:00","operands":{"type":"time","value":"15:00","offset":0,"random":0,"precision":null}},{"operator":"otherwise","label":"otherwise"}],"stopOnFirstMatch":false,"outputs":2,"x":1650,"y":380,"wires":[["6318977d3910f716"],["085ce6c61a2de8ad"]]},{"id":"085ce6c61a2de8ad","type":"chronos-switch","z":"7bda73a039dcc48f","name":"before 06:00?","config":"efc0ad038dc58811","reference":"","referenceType":"absTime","baseTime":"","baseTimeType":"msgIngress","conditions":[{"operator":"before","label":"before 06:00","operands":{"type":"time","value":"06:00","offset":0,"random":0,"precision":null}},{"operator":"otherwise","label":"otherwise"}],"stopOnFirstMatch":false,"outputs":2,"x":1720,"y":500,"wires":[["6318977d3910f716"],["ea3d0f6b5114eb7c"]]},{"id":"7a1683414fb8759c","type":"FlowHubPull","z":"7bda73a039dcc48f","name":"","notab":false,"flowid":"","flowname":"","flowrevision":"","x":1130,"y":140,"wires":[[],[]]},{"id":"a57136f0.fddac","type":"position-config","name":"Klosterdorf sun position","isValide":"true","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12","contextStore":""},{"id":"efc0ad038dc58811","type":"chronos-config","name":"chronos config klosterdorf","latitudeType":"num","longitudeType":"num","timezone":"Europe/Berlin","timezoneType":"str","sunPositions":[]}]